/*** Variables ***/
/* @import url('formspree.css'); */

:root {
    --spacing: 0.5em;
    /* --color-accent: #ffb633; */
    --color-accent: #cf6520;
    --color-accent-secondary: #07b8b1;
    --color-bg: #121212;
    --transition-duration: 0.15s;
    --color-fg: #eee;

    --color-grey: #222;
    --color-grey-alpha-80: rgb(from var(--color-grey) r g b / 0.8);
    /* --font-heading: 'IM Fell English SC'; */
    /* --font-heading: 'Jura'; */
    --nav-main-height: calc(var(--nav-main-item-height) + calc(var(--spacing)*4));
    --nav-main-item-height: 2em;
    --nav-main-width: 70vw;
    --font-family-body: "Montserrat", system-ui, sans-serif;

}

/*** Reset/Normalize ***/

blockquote,
body,
dd,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
fieldset,
figure,
ol,
p,
pre,
ul
{
    margin: 0;
}

button,
dialog,
fieldset,
input,
legend,
ol,
ul
{
    padding: 0;
}

ol,
ul
{
    list-style: none;
}

table
{
    border-collapse: collapse;
}

a
{
    color: inherit;
}

a,
abbr
{
    text-decoration: none;
}

button,
dialog,
input
{
    background: none;
}

input:-webkit-autofill
{
    transition: background;
    transition-delay: 3600000s;
}

button
{
    cursor: pointer;
}

button,
input,
select,
textarea
{
    box-sizing: border-box;
    font: inherit;
}

button,
dialog,
iframe,
input,
img,
fieldset,
progress,
select,
textarea
{
    border: none;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="color"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner
{
    border: none;
}

input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
{
    -webkit-appearance: none;
}

[contenteditable]:focus,
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus
{
    outline: none;
}

input::placeholder,
textarea::placeholder
{
    color: inherit;
}

input:invalid,
select:invalid,
textarea:invalid
{
    box-shadow: none;
}

button[disabled],
input[disabled]
{
    pointer-events: none;
}

audio,
img,
video
{
    max-width: 100%;
}

/*** Animations ***/

@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
        transform: translateY(-20vh);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .has-animation-fade-in {
        animation-fill-mode: forwards;
        animation-name: fade-in;
        animation-range-start: entry;
        animation-range-end: cover 50%;
        animation-timeline: view();
        opacity: 0;
        transform: translateY(-20vh);
    }

    .has-animation-fade-out {
        animation-fill-mode: forwards;
        animation-name: fade-out;
        animation-range-start: exit -30vh;
        animation-range-end: cover 100%;
        animation-timeline: view();
        opacity: 1;
        transform: translateY(0);
    }
}

/*** Globals ***/

html {
    @media ( prefers-reduced-motion: no-preference ) {
        scroll-behavior: smooth;
    }
}

body {
    background: var(--color-bg);
    color: var(--color-fg);
    font-family: montserrat, /*jura,*/ -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    font-size: clamp(1rem, -0.875rem + 3vw, 1.25rem);
    line-height: 1.5;
}

a {
    text-decoration: underline;
    text-underline-offset: 0.25em;
    transition: color var(--transition-duration);

    &:hover {
        color: var(--color-accent);
    }
}

.icon-svg {
    fill: currentColor;
    height: 2em;
    transition: color var(--transition-duration);
    width: 2em;
}

.link-to-top {
    align-items: center;
    background: var(--color-accent);
    border-radius: 50%;
    bottom: 1em;
    color: var(--color-bg);
    display: flex;
    justify-content: center;
    opacity: 0;
    padding: 0.25em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    transform: translateY(100%);
    transition: opacity var(--transition-duration), transform var(--transition-duration);
    visibility: hidden;
    z-index: 999;

    &.is-active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    &:hover .icon-svg {
        color: rgb(from var(--color-bg) r g b / 50%);
    }

    & svg {
        transform: translateY(-0.1em);
    }
}

.separator {
    display: flex;
    justify-content: center;
    margin-block: 3em 2em;

    & svg {
        color: var(--color-accent);
        fill: currentColor;
        font-size: 3em;
        height: 1em;
        opacity: 0.5;
        transform: rotate(90deg);
        width: 1em;
    }
}

.box-anchor {
    transform: translateY(-5em);
}

.mb-1 {
    margin-bottom: var(--spacing);
}

.mb-2 {
    margin-bottom: calc(2*var(--spacing));
}

.mb-3 {
    margin-bottom: calc(3*var(--spacing));
}


/*** Layout ***/

.header {
    align-items: center;
    backdrop-filter: blur(0.25em);
    background: rgb(from var(--color-grey) r g b / 70%);
    box-sizing: border-box;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    min-height: var(--nav-main-height);
    overflow-x: clip;
    padding: var(--spacing) 2em;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

    & .logo {
        display: flex;
        flex-shrink: 1;
        height: 2em;
        max-width: calc(100% - 5em);
        transition: transform var(--transition-duration);

        &:hover {
            transform: translateY(-0.125em);
        }
    }
}

.footer {
    background: var(--color-grey);
    margin-top: 5em;
    padding: 2em 1em;
    text-align: center;

    & .logo {
        height: 4.5em;
        margin-bottom: 2em;
    }
}

.footer-meta {
    font-size: 0.75em;
}

.section {
    margin: 0 auto;
    margin-bottom: 150px;
    max-width: 60em;
    padding: 2em 1em;

    &.is-centered {
        text-align: center;
    }

    &.has-text-blocks {
        ul,
        ol {
            margin-left: 1.25em;
        }

        ul {
            list-style: disc;
        }

        ol {
            list-style: decimal;
        }
    }
}

/* Margins */

.section p + p,
.section p + h3 {
    margin-top: 1em;
}

/*** Elements ***/

/* Title */

.headline-primary,
.headline-secondary {
    font-family: var(--font-heading), serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.125;
    margin-block: 0.5em;
    text-align: center;
}

.headline-primary {
    font-size: 2.5em;
}

.headline-secondary {
    font-size: 1.75em;
}

.headline-tertiary {
    font-size: 1.25em;
}

/* Header */

.logo {
    filter: invert(0);
}

/* Navigations */

.wrapper-nav-main {
    align-items: center;
    display: flex;
}

.nav-main {
    display: flex;
    gap: var(--spacing);

    & a {
        align-items: center;
        color: var(--color-fg);
        display: flex;
        gap: 0.25em;
        padding: var(--spacing);
        text-decoration: none;
        transition: var(--transition-duration);

        &:hover {
            color: var(--color-accent);
        }
    }
}

.button-nav-main {
    display: none;
}

.nav-social {
    display: flex;
    gap: var(--spacing);
    justify-content: center;
    margin-top: var(--spacing);
}

.nav-footer,
.nav-footer-social {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-block: 1em;
}

.nav-footer-social svg {
    fill: currentColor;
}

/* Hero */

.hero {
    height: 40vh;
    position: relative;
    text-align: center;

    & .nav-social {
        background: rgb(from var(--color-bg) r g b / 80%);
        border-radius: 2em;
        bottom: 1em;
        left: 50%;
        padding: 1em;
        position: absolute;
        transform: translateX(-50%);

        & svg {
            display: block;
            fill: currentColor;
            height: 2em;
            width: 2em;
        }
    }

    & .icon-svg {
        display: block;
    }

    & .wrapper-logo {
        left: 50%;
        max-width: 70vw;
        position: absolute;
        top: 60%;
        transform: translateX(-50%);
        width: 50em;
    }

    & .logo {
        /* filter: drop-shadow(0px 0px 1.5em var(--color-fg)) drop-shadow(0px 0px 1.5em var(--color-fg)) invert(0); */
    }
}

.image-hero {
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
    width: 100%;
}

/* Shows */
.container-shows {
    font-weight: normal !important;

    & .bit-date, .bit-vertical-date, .bit-mobile-date {
        color: var(--color-accent-secondary);
    }

    & .bit-upcoming-events .bit-vertical-date .bit-vertical-date-subsection:last-child {
        display: none
    }

    & .bit-venue, .bit-venue-vertical {
        font-weight: bold;
    }

    /* & .bit-follow-section-wrapper {
        flex-direction: row !important;
        justify-content: right !important;
        padding: 0px !important;
        margin-bottom: -20px;
    } */

    & .bit-follow-section-cta {
        margin: 0px 10px !important;
        padding: 10px 20px !important;
    }

    & .bit-follow-section-heading-text {
        text-transform: lowercase !important;
        
        &::first-letter {
            text-transform: capitalize !important;
        }
    }
    
    & .bit-play-my-city-wrapper {
        padding: 0px !important;
    }
}

/* Band */

.container-band {
    display: grid;
    gap: var(--spacing);
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    text-align: center;

    & figure {
        & img {
            border-radius: 0.25em;
            width: 100%;
        }

        & a {
            display: block;
        }
    }
}

/* Releases */

.container-releases {
    display: grid;
    gap: 3em;
    max-width: 40em;
    margin-inline: auto;
}

.box-release {
    display: grid;
    gap: 1em 2em;
    grid-template-areas: 'figure info';

    & figcaption {
        font-size: 1.5em;
        text-align: center;
    }

    & strong {
        margin-bottom: 0.5em;
    }

    & ol {
        list-style: decimal;
        margin-left: 1.125em;
    }

    & p {
        font-size: 0.875em;
        margin-top: 1em;
    }
}

/* Media */

.container-audio {
    aspect-ratio: 5/2;
    display: flex;
    justify-content: center;
}

.container-video {
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--spacing);
}

/* EPK */
.container-epk{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
    justify-content: center;

    & .doc-wrapper {
        max-width: 20em;

        & img {
            border-radius: 0.25em;
            width: 100%;
        }

        & a {
            display: block;
        }

        & iframe {
            margin: var(--spacing) 0
        }
    }
}

.doc-wrapper{ 
    margin: var(--spacing);
}

.download-button {
    margin: var(--spacing) auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    text-align: center;
    background-color: var(--color-accent);
    border: 1px solid rgba(74, 74, 74, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border-width: 0px;
    padding: 10px 20px;
    width: fit-content;
    font-size: 18px;
    box-shadow: none;

    &:hover {
        opacity: .75;
        color: white;
    }
}
.download-icon {
    margin-left: 10px;
    fill: white;
}

.highlight{
    color: var(--color-accent-secondary);
    font-weight: bold;
}

/*** Media queries ***/

@media (max-width: 40em) {
    .container-audio {
        aspect-ratio: 1/1;
    }
}

@media (max-width: 64em) {
    .header {
        padding-right: 1em;
    }

    .nav-main {
        align-items: flex-end;
        background: var(--color-grey);
        box-sizing: border-box;
        flex-direction: column;
        font-size: 1.25em;
        font-weight: 600;
        height: 100vh;
        justify-content: flex-start;
        min-width: var(--nav-main-width);
        padding: 4em 2em 2em;
        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(100%);
        transition: var(--transition-duration);

        & a {
            text-align: right;
            width: 100%;
        }
    }

    .wrapper-nav-main.is-active {
        & .nav-main {
            box-shadow: calc(-1*var(--nav-main-width)) 0 0 var(--color-grey-alpha-80);
            transform: translateX(0);
            transform: translateZ(0);
        }

        & .icon-close {
            display: block;
        }

        & .icon-menu {
            display: none;
        }
    }

    .button-nav-main {
        background: none;
        border: none;
        color: var(--color-fg);
        display: flex;
        padding: var(--spacing);
        z-index: 10;
        transform: translateZ(0);

        &:hover .icon-svg {
            color: var(--color-accent);
        }

        & .icon-close {
            display: none;
        }
    }
}

@media (min-width: 64em) {
    .hero {
        height: calc(100vh - var(--nav-main-height) - 10em);
    }

    .container-releases {
        grid-template-columns: 1fr 1fr;
    }
}
